name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y clang llvm libbpf-dev bpftool linux-tools-common
      - name: Build
        run: make build
      - name: Test
        run: make test
